/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main {
    display: flex;
    background-color: white;
    align-items: center;
    height: 100vh;
}
#testoAlternato {
    width: 500px;
    border: 2px solid #666;
    padding: 40px;
    margin: auto;

}

p {
    font-size: 1.8em;
    
}

@keyframes nascondi {
    0% {color: transparent; top: -30px;}
    25% {color: rgb(0, 89, 255); top: -3px;}
    50% {color: transparent; top: 30px;}
    100% {opacity: 0;}
}
i {
    animation: nascondi 6s infinite;
    font-weight: bold;
    color: transparent;
    position: absolute;
    width: auto;
    margin-left: 10px;

}


i:nth-child(2) {
    animation-delay: 2s;
}

i:nth-child(3) {
    animation-delay: 4s;
}
span {
    position: relative;
    bottom: -5px;
}

